@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  color-scheme: dark;
}

.dark .dark\:invert {
  filter: invert(1) hue-rotate(180deg);
}

header, .header, .fixed {
  z-index: 50;
}

.notification-bell {
  z-index: 60;
}

/* globals.css */
#root,
body,
html {
  overflow: visible !important;
}

/* Garante que o toast apareça acima de tudo */
[data-headlessui-portal] {
  z-index: 99999 !important;
}

.toast {
  z-index: 99999 !important;
}